{% extends 'base.html' %}

{% block title %}Cart ― LvivBadStore{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="card shopping-cart">
                <div class="card-header blue text-light">
                    <i class="fa fa-shopping-cart " style="color:black" aria-hidden="true"></i>
                    Shopping cart
                    <a href="" class="btn btn-outline-yellow btn-sm pull-right">Continiue shopping</a>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">

                    <!-- Products -->
                    {% for order_item in cart_items %}
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="{{ order_item.item.image.url }}" alt="prewiew" width="120" height="80">
                            </div>
                            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                <h4 class="product-name"><strong>{{ order_item.item.title }}</strong></h4>
                            </div>
                            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                    <h6><strong>{{ order_item.item.discount_price }}<span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4">
                                    <div class="quantity">
                                        <input type="button" value="+" class="plus">
                                        <input type="number" step="1" max="99" min="1" value="{{ order_item.amount }}" title="Qty" class="qty" size="4">
                                        <input type="button" value="-" class="minus">
                                    </div>
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 text-right">
                                    <button type="button" class="btn btn-outline-danger btn-xs">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- Products -->

                    <div class="float-right">
                        <a href="" class="btn btn-outline-yellow float-right">
                            Update shopping cart
                        </a>
                    </div>

                </div>

                <div class="float-right" style="margin: 10px">
                    <a href="" class="btn btn-success float-right">Checkout</a>
                    <div class="float-right" style="margin: 5px">
                        Total price: <b>50.00€</b>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}