{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Sign Up ― LvivBadStore{% endblock %}

{% block content %}
    <main class="mb-3">
        <!-- Default form register -->
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 mx-auto">
                    <form class="text-center border border-light p-5" method="post"> {% csrf_token %}

                        <p class="h4 mb-4">Sign up</p>

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {% render_field field class="form-control" placeholder=field.label %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Sign up button -->
                        <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

                        <!-- Social register -->
                        <p>or sign up with:</p>

                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-fb mx-2" role="button">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google mx-2" role="button">
                            <i class="fab fa-google" aria-hidden="true"></i>
                            <span class="sr-only">Google</span>
                        </a>

                        <hr>

                        <!-- Terms of service -->
                        <p>By clicking
                            <em>Sign up</em> you agree to our
                            <a href="" target="_blank">terms of service</a>

                    </form>
                </div>
            </div>
        </div>
        <!-- Default form register -->
    </main>
{% endblock content %}