{% extends 'base.html' %}

{% block title %}Thank You - LvivBadShop{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="display-3">Thank You!</h1>
                <p class="lead">Your order will be delivered within two weeks.</p>
                <hr>
                <p>
                    Having trouble? <a href="">Contact us</a>
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}