/* Prevent navbar overlapping of body content on all pages except home */
main {
    padding-top: 6rem;
}

main.home {
    padding-top: 0;
}

/* Required height of parents of the Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
}

.wl-slogan{
    font-size: 3em;
    background:#eddb08;
    text-shadow: -4px -4px 0px #0898f4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Carousel itself*/
.carousel {
    height: 100%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
  }
}

/* footer styles */
.nav-footer {
    list-style-type: none;
    padding-left: 0;
}

.footer-link {
    color: #FFFFFF;
}

.footer-link:hover {
    text-decoration: none;
    color:yellow;
}

.soc-btn {
    font-size: 2rem;
    margin-right: 1rem;
}

.soc-btn:hover {
    color:yellow;
}

/* Social authentication buttons */
.btn-fb, .btn-fb:hover {
    background-color: #3b5998;
    color: #ffffff;
    font-size: 1rem;
}

.btn-google, .btn-google:hover {
    background-color: #DB4437;
    color: #ffffff;
    font-size: 1rem;
}

/* Comments section styles */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

/* Shopping cart styles */

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}