/* Prevent navbar overlapping of body content on all pages except home */
main {
    padding-top: 6rem;
}

main.home {
    padding-top: 0;
}

/* Required height of parents of the Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
}

.wl-slogan{
    font-size: 3em;
    background:#eddb08;
    text-shadow: -4px -4px 0px #0898f4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Carousel itself*/
.carousel {
    height: 100%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
  }
}

/* footer styles */
.nav-footer {
    list-style-type: none;
    padding-left: 0;
}

.footer-link {
    color: #FFFFFF;
}

.footer-link:hover {
    text-decoration: none;
    color:yellow;
}

.soc-btn {
    font-size: 2rem;
    margin-right: 1rem;
}

.soc-btn:hover {
    color:yellow;
}

/* Social authentication buttons */
.btn-fb, .btn-fb:hover {
    background-color: #3b5998;
    color: #ffffff;
    font-size: 1rem;
}

.btn-google, .btn-google:hover {
    background-color: #DB4437;
    color: #ffffff;
    font-size: 1rem;
}

/* Comments section styles */
.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}