/* Prevent navbar overlapping of body content on all pages except home */
main {
    padding-top: 6rem;
}

main.home {
    padding-top: 0;
}

/* Required height of parents of the Carousel for proper displaying carousel itself */
html,
body,
.view {
    height: 100%;
}

/*Carousel itself*/
.carousel {
    height: 100%;
}
.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
  }
}

/* footer styles */
.nav-footer {
    list-style-type: none;
    padding-left: 0;
}

.footer-link {
    color: #FFFFFF;
}

.footer-link:hover {
    text-decoration: none;
    color:#4fc3f7;
}

.soc-btn {
    font-size: 2rem;
    margin-right: 1rem;
}

.soc-btn:hover {
    color:#4fc3f7;
}

/* Social authentication buttons */
.btn-fb, .btn-fb:hover {
    background-color: #3b5998;
    color: #ffffff;
    font-size: 1rem;
}

.btn-google, .btn-google:hover {
    background-color: #DB4437;
    color: #ffffff;
    font-size: 1rem;
}