<div class="text-center black-text mx-5 wow fadeIn ">
    <h1 class="mb-4 font-weight-bold">
        <strong>Welcome to the badminton store<hr></strong>
    </h1>

    <p class="text-uppercase wl-slogan font-weight-bold">
        <!-- Good clothes to the bad players -->
        <!-- Buy it.Smash it.Win it. -->
        <strong>founded to inspire champions<hr></strong>
    </p>

    <p class="mb-4 d-none d-md-block font-italic font-weight-bold">
        <strong>
            We will make badminton closer to you. <br>
            Perfect quality, fair prices and happy clients - it is about us. <br> 
            Wide market and international cooperation make your dreams come true. 
        </strong>
    </p>

    <a href="{% url 'shop' %}" class="btn btn-outline-primary btn-lg font-weight-bold ">
        start shopping
        <i class="fas fa-shopping-cart ml-2"></i>
    </a>
</div>
